<div class="container ">
    <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()" class="alert alert-success backColor m-4">
        <div class="col-12">
            <h2 class="text-center text-dark alert alert-warning p-2 m-4">Student Form</h2>
            <h4 class="text-info">Personal Detail :</h4>
        </div>
        <div class="row">
            <div class="col-8 offset-md-2">
                <div class="form-group">
                    <label for="fname">First Name :<sup class="text-danger">*</sup></label>
                    <input type="text" id="fname" class="form-control" formControlName="fname">
                    <span class="text-danger" *ngIf="fname.touched && fname.hasError('required')">
                      First Name is a required field.
                  </span>
                    <span class="text-danger" *ngIf="fname.dirty && fname.hasError('pattern')">
                      First Name should be only Character.
                  </span>
                </div>
                <div class="form-group">
                    <label for="lname">Last Name :<sup class="text-danger">*</sup></label>
                    <input type="text" id="lname" class="form-control" formControlName="lname">
                    <span class="text-danger" *ngIf="lname.touched && lname.hasError('required')">
                      Last Name is a required field.
                  </span>
                    <span class="text-danger" *ngIf="lname.dirty && lname.hasError('pattern')">
                      Last Name should be only Character.
                  </span>
                </div>
                <div class="form-group">
                    <label for="email">Email :<sup class="text-danger">*</sup></label>
                    <input type="text" id="email" class="form-control" formControlName="email">

                    <span class="text-danger" *ngIf="f['email'].touched && f['email'].hasError('required')">
                    Email is a required field.
                  </span>


                    <ng-container *ngIf="f['email'].dirty">
                        <span class="text-danger" *ngIf="f['email'].hasError('pattern')">
                      Please enter a valid Email.
                    </span>

                        <div class="text-primary">
                            <div class="d-flex justify-content-center text-danger m-2" *ngIf="f['email'].pending">
                                <div class="spinner-border text-danger mt-2" role=status>
                                    <span class="sr-only">Loading...</span>
                                </div>
                                Checking Email
                            </div>
                        </div>
                        <span class="text-danger" *ngIf="f['email'].hasError('emailExistError')">
                          {{f['email'].errors?.['emailExistError']}}
                        </span>
                        <span class="text-success" *ngIf="f['email'].valid">
                          Email id is Available
                        </span>
                    </ng-container>
                </div>

                <div class="form-group">
                    <label for="username">Username :<sup class="text-danger">*</sup></label>
                    <input type="text" id="username" class="form-control" formControlName="username">
                    <span class="text-danger" *ngIf="username.touched && username.hasError('required')">
                            Username is a required field.
                  </span>
                    <ng-container *ngIf="username.dirty">
                        <span class="text-danger" *ngIf=" username.hasError('pattern')">
                          please enter valid Username.
                </span>
                        <span class="text-danger" *ngIf="username.hasError('minlength')">
                 Username length should be {{username.errors?.['minlength'].requiredLength}}
                </span>
                        <span class="text-danger" *ngIf="username.hasError('maxlength')">
                  Username length should be {{username.errors?.['maxlength'].requiredLength}} and actual length is {{username.errors?.['maxlength'].actualLength}}
                 </span>
                        <span class="text-danger" *ngIf="f['username'].hasError('noSpaceErr')">
                            {{username.errors?.['noSpaceErr']}} 
                 </span>
                    </ng-container>
                </div>
                <div class="form-group ">
                    <label for="prnNo">PRN No :<sup class="text-danger ">*</sup></label>
                    <input type="text" id="prnNo " class="form-control " formControlName="prnNo">
                    <span class="text-danger" *ngIf="f['prnNo'].touched && f['prnNo'].hasError('required')">
                      PRN NO is a required field.
                     </span>
                    <ng-container *ngIf="f['prnNo'].dirty">
                        <span class="text-danger" *ngIf=" f['prnNo'].hasError('invalidStd')">
                        {{f['prnNo'].errors?.['invalidStd']}}
                   </span>

                    </ng-container>
                </div>
                <div class="form-group ">
                    <label for="DOB ">DOB:<sup class="text-danger ">*</sup></label>
                    <input type="date" id="DOB " class="form-control ">
                </div>

                <strong>Gender:</strong>
                <div class="form-group ">
                    <label for="female " class="mr-2 ">
                        <input type="radio" name="gender " id="female "> Female
                    </label>
                    <label for="male " class="mr-2 ">
                        <input type="radio" name="gender " id="male "> Male
                    </label>
                    <label for="other " class="mr-2 ">
                        <input type="radio" name="gender " id="other "> Other
                    </label>
                </div>
            </div>
        </div>
        <div class="col-12 ">
            <h4 class="text-info ">Contact Detail :</h4>
        </div>
        <div class="row ">
            <div class="col-8 offset-md-2 ">
                <div class="row ">
                    <div class="col-md-6 " formGroupName="currentAddress">
                        <strong class="mb-2 ">Current Address :<sup class="text-danger">*</sup></strong>
                        <div class="form-group">
                            Country:
                            <select class="form-control" formControlName="country">
                              <option value=" "></option>
                          <option [value]="con.country" *ngFor="let con of countryInfo">{{con.country}}</option>
                          </select>
                        </div>
                        <div class="form-group">
                            State:
                            <input type="text" class="form-control" id="state" formControlName="state">
                        </div>
                        <div class="form-group ">
                            City:
                            <input type="text" class="form-control" id="city" formControlName="city">
                        </div>
                        <div class="form-group ">
                            Pin Code:
                            <input type="text" class="form-control" id="pinCode" formControlName="pinCode">
                        </div>
                        <div class="form-group ">
                            Contact:
                            <input type="text" class="form-control " id="contact" formControlName="contact">
                        </div>
                    </div>
                    <div class="col-md-6" formGroupName="permenentAddress">
                        <strong class="mb-2 ">Current Address :<sup class="text-danger">*</sup></strong>
                        <div class="form-group ">
                            Country:
                            <select class="form-control" formControlName="country">
                          <option value=" "></option>
                          <option [value]="con.country" *ngFor="let con of countryInfo ">{{con.country}}</option>
                        </select>
                        </div>
                        <div class="form-group ">
                            State:
                            <input type="text" class="form-control" formControlName="state">
                        </div>
                        <div class="form-group ">
                            City:
                            <input type="text" class="form-control " formControlName="city">
                        </div>
                        <div class="form-group ">
                            Pin Code:
                            <input type="text" class="form-control " formControlName="pinCode">
                        </div>
                        <div class="form-group ">
                            Contact:
                            <input type="text" class="form-control " formControlName="contact">
                        </div>
                    </div>
                    <div class="col-12 ">
                        <label for="isAddSame: ">
                        <input type="checkbox" name=" " id="isAddSame" formControlName="isAddSame">
                        Permenant Address is Same as Current Address
                      </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 ">
            <h4 class="text-info "> Other Information:</h4>
        </div>
        <div class="col-8 offset-md-2">
            <div class="form-group">
                <label for="password">Password :<sup class="text-danger">*</sup></label>
                <input type="password" id="password" class="form-control" formControlName="password">
            </div>
            <div class="form-group">
                <label for="Confirmpassword">Confirm Password :<sup class="text-danger">*</sup></label>
                <input type="password" id="Confirmpassword" class="form-control" formControlName="Confirmpassword">

                <span class="text-danger" *ngIf="f['Confirmpassword'].dirty && f['Confirmpassword'].hasError('passAndConf')">
                  {{ f['Confirmpassword'].errors?.['passAndConf'] }}
              </span>
            </div>
            <strong>Skills</strong>
            <div class="" formArrayName="skills">
                <div class="row">
                    <div class="col-md-10 mt-2">
                        <input type="text" class="form-control mt-2" [formControlName]="0">
                        <span class="text-danger" *ngIf="skillsFormArry.controls[0].invalid && skillsFormArry.controls[0].touched">
                    Skill is required.
                  </span>
                    </div>
                </div>

                <div class="row" *ngFor="let skill of skillsFormArry.controls; let i = index" [hidden]="i === 0">
                    <div class="col-md-10 mt-2">
                        <input type="text" class="form-control mt-2" [formControlName]="i">
                        <span class="text-danger" *ngIf="skillsFormArry.controls[i].invalid && skillsFormArry.controls[i].touched">
                    Skill is required.
                  </span>
                    </div>
                    <div class="col-md-2 mt-2">
                        <button type="button" class="btn btn-outline-danger" id="itemId" (click)="onRemoveSkill(i)">Remove</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 mt-2">
                        <button type="button" class="btn btn-outline-success" (click)="onSkillAdd()" [disabled]="skillsFormArry.length >= 5">Add Skill</button>
                    </div>
                </div>
            </div>




        </div>
        <div class="col-8 offset-md-2 d-flex justify-content-center mt-5 alert alert-danger p-3">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>